* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.piece-button {
  width: 150px;
  height: 150px;
}

.row {
  margin-top: 25px;
  margin-bottom: 25px;
}